@import './colors';

.main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // position: relative;


    
    .collab {
        font-size: 2.5em;
        color: white;
        text-align: center;
        padding: 10% 5%;
    }
}

.transparent-box {
    width: 80%;
    height: 30%;
    background-color: $complimentary-faded;
    position: relative;
    top: 10%;
    margin: 0% 10%;
}

.transparent-box2 {
    width: 80%;
    height: 30%;
    background-color: $main-background;
    position: relative;
    top: 10%;
    margin: 0% 10%;
}


.img-hand {
    background-image: url('../images/hand-blurred.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    // position: absolute;
}

.img-daughter {
    background-image: url('../images/motherdaughter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    // position: absolute;
}


.heading-text {
    font-size: 3em;
    color: $main-background;
    margin: 10%;
}

.mom-kids-img {
    background-image: url('../images/momkids.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 160px;
    padding: 12% 3%;
}

.complimentary {
    color: $complimentary !important;
}

.view2, .view3, .view4, .view5 {
    width: 100vw;
    height: 30%;
    text-align: center;
}

.view2 {
    // background-color: $grayed;
    display: inline-block;
} 

.paragraph {
    font-size: 2em;
    color: $main-background;
    padding: 12px;
    margin: 12% 4%;
}

.paragraph1 {
    font-size: 1.6em;
    color: $main-background;
    padding: 12px;
    margin-top: 10%;
}

.paragraph2 {
    font-size: 3em;
    color: white;
    padding: 1.5% 5%;
    text-align: left;
}

.view4 {
    background-color: $grayed;
}

hr {
    width: 50%;
    color: $complimentary;
    border: solid;
    border-radius: 5px;
    height: 1px;
}

.footer {
    background-color: $main-background;
    color: white;
    width: 100vw;
    height: 100px;
    text-align: center;
    margin: auto;
    padding: 35px;
}

.expenses-vid {
    max-width: 40%;
    border-radius: 15px;
    float: left;
    margin: 15px;
  }

.contacts-vid {
    max-width: 40%;
    border-radius: 15px;
    float: right;
    margin: 15px;
  }

