.expense-display {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expense-display .expense-item {
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.expense-display .expense-data {
  width: 450px;
  height: 100px;
}

.add-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-btn {
  border: none;
  background-color: #ff8400;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: white;
}

.login {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #005457;
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .cofamilia {
  font-size: 3em;
  padding: 25px;
}

.login h3 {
  font-size: 20px;
}

label {
  text-align: start;
}

.auth-btn {
  border: none;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #018786;
  text-align: center !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-inputs {
  font-size: 1.5em;
  color: #005457;
  width: 450px;
  height: 600px;
  background: white;
  padding: 35px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-inputs label {
  display: block;
  margin: 10px 0;
}

.input-field {
  height: 25px;
  width: 350px;
  background: white;
  border-radius: 20px;
  border: 1px;
  border-bottom: white;
}

.please-enter {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 30px;
}

.code {
  margin: 20px;
  font-size: 1.5em;
}

.pending {
  width: 300px;
  background-color: #C8FFF4;
  padding: 20px 10px;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .collab {
  font-size: 2.5em;
  color: white;
  text-align: center;
  padding: 25px 35px;
}

.transparent-box {
  width: 80%;
  height: 30%;
  background-color: #ff840040;
  position: relative;
  top: 10%;
  margin: 0% 10%;
}

#img {
  background-image: url("../images/holdinghand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.heading-text {
  font-size: 2em;
  color: #005457;
}

.complimentary {
  color: #ff8400 !important;
}

.view2, .view3, .view4 {
  width: 100vw;
  height: 800px;
}

.view2 {
  background-color: #F1F2F4;
  text-align: center;
}

.view4 {
  background-color: #F1F2F4;
}

.footer {
  background-color: #005457;
  color: white;
  width: 100vw;
  height: 100px;
  text-align: center;
  margin: auto;
  padding: 35px;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .collab {
  font-size: 2.5em;
  color: white;
  text-align: center;
  padding: 25px 35px;
}

.transparent-box {
  width: 80%;
  height: 30%;
  background-color: #ff840040;
  position: relative;
  top: 10%;
  margin: 0% 10%;
}

#img {
  background-image: url("../images/holdinghand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.heading-text {
  font-size: 2em;
  color: #005457;
}

.complimentary {
  color: #ff8400 !important;
}

.view2, .view3, .view4 {
  width: 100vw;
  height: 800px;
}

.view2 {
  background-color: #F1F2F4;
  text-align: center;
}

.view4 {
  background-color: #F1F2F4;
}

.footer {
  background-color: #005457;
  color: white;
  width: 100vw;
  height: 100px;
  text-align: center;
  margin: auto;
  padding: 35px;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #005457;
  width: 100vw;
  height: 100px;
  color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .main-logo {
  font-size: 3.8em;
  margin-right: 60px;
}

.header .link {
  text-decoration: none;
  color: white;
  width: 60px;
  height: 60px;
}

.footer {
  background-color: #005457;
  color: white;
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=App.css.map */